@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: Open Sans;
}

.middle {
    text-align: center;
    margin: auto;
    max-width: 1131px;
    height: auto;
    background-color: lightgrey;
    border: 1px black solid;
}

.below {
    bottom: 0;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 480px) {
    .middle {
        max-width: 440px;
        height: auto;
    }
}
